<script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://unpkg.com/leaflet-routing-machine@latest/dist/leaflet-routing-machine.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", () => {
    document.getElementById("loading-spinner").classList.remove("hidden");
});

// Masquer le spinner lorsque la page est complètement chargée
window.addEventListener("load", () => {
    document.getElementById("loading-spinner").classList.add("hidden");
});
  </script>
  </body>
</html>